<div class="ui secondary pointing menu">
  <%= link_to "Home", '/pages/home', class: 'item ' %>
  <%= link_to "About", '/pages/about', class: 'item ' %>
  <%= link_to "Contact", '/pages/contact', class: 'item ' %>
</div>