<div class="ui piled segments">
  <%= render partial: 'categories/category_products',
             collection: @categories,
             as: :category,
             locals: {product_limit: 5 }%>
</div>
