// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main_menu{
  margin: 20px 50px;
}

#search_category{
  outline: none;

  &:hover{
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.95);
    cursor: pointer;
  }

  &:focus{
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.95);
    cursor: pointer;
  }
}
