<div class="ui secondary menu">
    <div class="ui search">
        <div class="ui left icon input">
          <input class="prompt" type="text" placeholder="Search DIY">
        </div>
    </div>
    <div class="right menu">
      <%= link_to "Account", 'pages/home' ,class: "ui item" %>
      <a class="ui item">
        Logout
      </a>
    </div>
  </div>